//字体
$fontA:12px;
$fontB:14px;
$fontC:16px;
$fontD:18px;
$fontE:20px;
// 颜色
$colorA:#ffffff; //纯白背景色
$colorB:#000000; //纯黑文字、背景色
$colorC:#e0e0e0; //图片边框
$colorD:#333333; //导航条a标签颜色
$colorE:#b0b0b0; //文字颜色
$colorF:#616161; //图标字体颜色
$colorG:#ff6700; //触碰文字颜色
$colorH:#343a40; //导航条背景颜色
$colorI:#424242;
$colorJ:#757575;
$colorK:#212529;